<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogosoft.Hashing" version="1.2.1.8" targetFramework="net452" />
  <package id="Bogosoft.Hashing.Cryptography" version="1.1.1.5" targetFramework="net452" />
  <package id="Bogosoft.Mapping" version="1.1.0.9" targetFramework="net452" />
  <package id="Bogosoft.Xml" version="1.2.3.8" targetFramework="net452" />
  <package id="NUnit" version="3.7.0" targetFramework="net452" />
  <package id="Should" version="1.1.20" targetFramework="net452" />
</packages>